

<!-- banner section start here -->
<app-banner></app-banner>
<!-- banner section start here -->

<!-- start feature section here -->
<section class="feature padding-block overflow-hidden bg-white">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-6 col-xl-3">
                <div class="feature__item">
                    <div class="feature__inner">
                        <div class="icon">
                            <img src="assets/img/home-1/feature/icon1.png" alt="bakul">
                        </div>
                        <div class="text">
                            <h6 translate>home.community</h6>
                            <!-- <p>Convenient & proacteds bested quality and ideas use production. </p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="feature__item">
                    <div class="feature__inner">
                        <div class="icon">
                            <img src="assets/img/home-1/feature/icon2.png" alt="bakul">
                        </div>
                        <div class="text">
                            <h6 translate>home.services</h6>
                            <!-- <p>Convenient & proacteds bested quality and ideas use production. </p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="feature__item">
                    <div class="feature__inner">
                        <div class="icon">
                            <img src="assets/img/home-1/feature/icon3.png" alt="bakul">
                        </div>
                        <div class="text">
                            <h6 translate>home.consultants</h6>
                            <!-- <p>Convenient & proacteds bested quality and ideas use production. </p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="feature__item">
                    <div class="feature__inner">
                        <div class="icon">
                            <img src="assets/img/home-1/feature/icon4.png" alt="bakul">
                        </div>
                        <div class="text">
                            <h6 translate>home.market</h6>
                            <!-- <p>Convenient & proacteds bested quality and ideas use production. </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- start feature section here -->

<!-- natureplant section start here -->
<section class="natureplant overflow-hidden">
    <div class="container">
        <div class="row justify-content-xxl-end justify-content-center">
            <div class="col-lg-10 col-xl-7 col-xxl-6">
                <div class="section__header natureplant__header">
                    <div class="col-md-11 col-xl-12 col-xxl-8">
                        <span>Welcome To natureplant<img src="assets/img/logo/pata.png" alt="bakul"></span>
                        <h3>Beautiful Garden is a Work of Heart.</h3>
                    </div>
                </div>
                <div class="section__wrapper natureplant__content">
                    <p>Continually productize compelling quality for packed with elated
                        productize compelling quality for packed in with all elated Them
                        Setting up to website and creating pages.</p>
                    <ul>
                        <li><i class="fa-sharp fa-solid fa-square-check"></i>Trimming & Pruning</li>
                        <li><i class="fa-sharp fa-solid fa-square-check"></i>Peseta & Weeds Control.</li>
                        <li><i class="fa-sharp fa-solid fa-square-check"></i>Peseta & Weeds Control.</li>
                        <li><i class="fa-sharp fa-solid fa-square-check"></i>Arbor Management</li>
                        <li><i class="fa-sharp fa-solid fa-square-check"></i>Nursery / Tree Fram</li>
                        <li><i class="fa-sharp fa-solid fa-square-check"></i>Trimming & Pruning</li>
                        <li><i class="fa-sharp fa-solid fa-square-check"></i>Peseta & Weeds Control.</li>
                        <li><i class="fa-sharp fa-solid fa-square-check"></i>Nursery / Tree Fram</li>
                    </ul>
                    <div class="natureplant__gardingmake">
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/img/home-1/welcome/icon1.png" alt="bakul">
                            </div>
                            <div class="text">
                                <h5 class="odometer" data-odometer-final="653">346</h5>
                                <h6>Garden Make</h6>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/img/home-1/welcome/icon2.png" alt="bakul">
                            </div>
                            <div class="text">
                                <h5 class="odometer" data-odometer-final="20">44</h5>
                                <h6>Award Wining</h6>
                            </div>
                        </div>
                    </div>
                    <a href="about.html" class="custom-btn">About our company</a>
                </div>
            </div>
        </div>
    </div>
    <div class="position leftimg imghover d-xxl-block d-none">
        <img src="assets/img/home-1/welcome/leftimg.png" alt="bakul">
    </div>
    <div class="rightshape right-left d-lg-block d-none">
        <img src="assets/img/home-1/welcome/img1.png" alt="bakul">
    </div>
    <div class="position topshape d-xxl-block d-none">
        <img src="assets/img/home-1/welcome/knife.png" alt="bakul">
    </div>
    <div class="position middleshape d-xxl-block d-none">
        <img src="assets/img/home-1/welcome/middleshape.png" alt="bakul">
    </div>
</section>
<!--natureplant section end here -->

<!-- service sectionstart start here -->
<section class="service bg-white padding-block overflow-hidden">
    <div class="container">
        <div class="row g-4 align-items-xxl-center align-items-end justify-content-center">
            <div class="col-lg-10 col-xl-7 col-xxl-6">
                <div class="section__header">
                    <span>Natureplant Services<img src="assets/img/logo/pata.png" alt="bakul"></span>
                    <h3>Nature plant Best Services For Gardening.</h3>
                </div>
                <div class="section__wrapper service__wrapper">
                    <p>Continually productize compelling quality for packed in business consulting Setting up to
                        website and creating pages.</p>
                    <div class="service__item">
                        <div class="row g-4">
                            <div class="col-md-6">
                                <div class="service__inner">
                                    <div class="thumb">
                                        <img src="assets/img/home-1/service/icon1.png" alt="bakul">
                                    </div>
                                    <div class="text">
                                        <h6><a href="service-details.html">Garden Plantations</a></h6>
                                        <p>Continua productize compel packed productize compelling quality for all
                                            creating website pages.</p>
                                        <a href="service-details.html">Read More <i
                                                class="fa-solid fa-chevrons-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="service__inner">
                                    <div class="thumb">
                                        <img src="assets/img/home-1/service/icon2.png" alt="bakul">
                                    </div>
                                    <div class="text">
                                        <h6><a href="service-details.html">Garden Irrigation System</a></h6>
                                        <p>Continua productize compel packed productize compelling quality for all
                                            creating website pages.</p>
                                        <a href="service-details.html">Read More <i
                                                class="fa-solid fa-chevrons-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="service__inner">
                                    <div class="thumb">
                                        <img src="assets/img/home-1/service/icon3.png" alt="bakul">
                                    </div>
                                    <div class="text">
                                        <h6><a href="service-details.html">Garden Hedge Cutting</a></h6>
                                        <p>Continua productize compel packed productize compelling quality for all
                                            creating website pages.</p>
                                        <a href="service-details.html">Read More <i
                                                class="fa-solid fa-chevrons-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="service__inner">
                                    <div class="thumb">
                                        <img src="assets/img/home-1/service/icon4.png" alt="bakul">
                                    </div>
                                    <div class="text">
                                        <h6><a href="service-details.html">Guarantee Design</a></h6>
                                        <p>Continua productize compel packed productize compelling quality for all
                                            creating website pages.</p>
                                        <a href="service-details.html">Read More <i
                                                class="fa-solid fa-chevrons-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6">
                <div class="service__rightimg imghover">
                    <img src="assets/img/home-1/service/rightimg.png" alt="bakul">
                </div>
            </div>
        </div>
    </div>
    <div class="bottomshape right-left d-xxl-block d-none">
        <img src="assets/img/home-1/service/bottomshape.png" alt="bakul">
    </div>
    <div class="positonshape topshape dnone">
        <img src="assets/img/home-1/banner/shape1.png" alt="bakul">
    </div>
</section>
<!-- service sectionstart end here -->

<!-- compnay achivement start here -->
<div class="counter overflow-hidden padding-block overly">
    <div class="container">
        <div class="row g-5 justify-content-center">
            <div class="col-6 col-md-4 col-lg-3">
                <div class="counter__item">
                    <div class="counter__inner go-up">
                        <div class="thumb">
                            <img src="assets/img/home-1/counter/icon1.png" alt="bakul">
                        </div>
                        <div class="counter__content">
                            <div class="maincounter">
                                <h4 class="odometer" data-odometer-final="5253">2654</h4>
                            </div>
                            <h6>Garden Complete</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="counter__item">
                    <div class="counter__inner go-up">
                        <div class="thumb">
                            <img src="assets/img/home-1/counter/icon2.png" alt="bakul">
                        </div>
                        <div class="counter__content">
                            <div class="maincounter">
                                <h4 class="odometer" data-odometer-final="6253">2654</h4>
                            </div>
                            <h6>satisfied Clients</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="counter__item">
                    <div class="counter__inner go-up">
                        <div class="thumb">
                            <img src="assets/img/home-1/counter/icon3.png" alt="bakul">
                        </div>
                        <div class="counter__content">
                            <div class="maincounter">
                                <h4 class="odometer" data-odometer-final="7253">2654</h4>
                            </div>
                            <h6>National Award</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="counter__item">
                    <div class="counter__inner go-up">
                        <div class="thumb">
                            <img src="assets/img/home-1/counter/icon4.png" alt="counterimg">
                        </div>
                        <div class="counter__content">
                            <div class="maincounter">
                                <h4 class="odometer" data-odometer-final="6253">2654</h4>
                            </div>
                            <h6>Team Members</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- compnay achivement end here -->

<!-- procect section start here -->
<section class="project overflow-hidden padding-block">
    <div class="container">
        <div class="section__header section__header--header2">
            <span>Natureplant Project<img src="assets/img/logo/pata.png" alt="bakul"></span>
            <h3>Nature plant Our Garden Project</h3>
            <p>Continually productize compelling quality for packed business consulting
                Setting up to website and creating pages.</p>
        </div>
    </div>
    <div class="section__wrapper project__wrapper">
        <div class="project__slider overflow-hidden">
            <div class="swiper-wrapper">
                @for (item of listStore; track $index) {
                <div class="swiper-slide">
                    <div class="project__inner">
                        <div class="project__item">
                            <div class="thum">
                                <img [src]="item.image" class="store-image" style="width: 366px !important;height: max(366px)" alt="bakul">
                            </div>
                            <div class="content go-up">
                                <div class="content-inner">
                                    <p>{{item.name}}</p>
                                    <h6><a>{{item.content}}</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>}
         
            </div>
        </div>
        <div class="project__btn">
            <a href="portfolio.html" class="custom-btn">View All Project</a>
        </div>
    </div>
</section>
<!-- procect section end here -->

<!-- procect section start here -->
<section class="team padding-block bg-white overflow-hidden">
    <div class="container">
        <div class="section__header section__header--header2">
            <span>Our Team Member<img src="assets/img/logo/pata.png" alt="bakul"></span>
            <h3>our professional landscapers</h3>
            <p>Continually productize compelling quality for packed business consulting
                Setting up to website and creating pages.</p>
        </div>
    </div>
    <div class="section__wrapper team__wrapper">
        <div class="container">
            <div class="row g-4 justify-content-center">
                @for (item of listConsultant; track $index) {
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="team__item">
                        <div class="team__inner bg-white">
                            <div class="thumb">
                                <img [src]="item.image" style="height: 312px;width:  312px;" alt="bakul">
                                <div class="allicon go-up">
                                    <div class="fixedicon">
                                        <i class="fa-sharp fa-regular fa-share-nodes"></i>
                                    </div>
                                    <ul>                                            
                                        <li><a href="#"><i class="fa-sharp fa-regular fa-basketball"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>                                           
                                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text">
                                <h6><a href="team-single.html">{{item.name}}</a></h6>
                                <p>{{item.category.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>}
         
            </div>
        </div>
    </div>
    <div class="project__btn">
        <a href="team-single.html" class="custom-btn">View All members</a>
    </div>
    <div class="leftshape left-right d-xxl-block d-none">
        <img src="assets/img/home-1/team/toptree.png" alt="bakul">
    </div>
    <div class="bottomshape right-left d-lg-block d-none">
        <img src="assets/img/home-1/team/bottomtree.png" alt="bakul">
    </div>
</section>
<!-- procect section end here -->

<!-- start feedback section here -->
<section class="feedback padding-block overflow-hidden">
    <div class="container">
        <div class="row align-items-center g-4">
            <div class="col-xl-6 text-center pt-sm-0 pt-1">
                <div class="plybtn d-xl-block d-none">
                    <a href="https://www.youtube.com/watch?v=m4CWaHAQ4wc" class="popup">
                        <i class="fa-solid fa-play"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="section__header feedback__header">
                    <span>Our Feedback<img src="assets/img/logo/pata.png" alt="bakul"></span>
                    <h3>what Our Client Say About Us</h3>
                    <p>Continually productize compelling quality packed business consulting
                        Setting up to website and creating pages.</p>
                </div>
                <div class="section_wrapper">
                    <div class="feedback__slider overflow-hidden">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="feedback__item">
                                    <div class="feedback__inner bg-white">
                                        <div class="top">
                                            <div class="thumb">
                                                <img src="assets/img/home-1/feedback/img1.png" alt="bakul">
                                            </div>
                                            <div class="profile">
                                                <div class="name">
                                                    <h6>Leslie Alexander</h6>
                                                    <span>Founder</span>
                                                </div>
                                                <div class="star">
                                                    <ul>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <p>Rapaciously simplify enabled intellectual capital and transparent it
                                                core competencies energetically enable user centric remarkets the
                                                after leveraged methodologies.</p>
                                        </div>
                                    </div>
                                    <div class="feedback__inner bg-white">
                                        <div class="top">
                                            <div class="thumb">
                                                <img src="assets/img/home-1/feedback/img1.png" alt="bakul">
                                            </div>
                                            <div class="profile">
                                                <div class="name">
                                                    <h6>Stephen Hughes</h6>
                                                    <span>Manager</span>
                                                </div>
                                                <div class="star">
                                                    <ul>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <p>Rapaciously simplify enabled intellectual capital and transparent it
                                                core competencies energetically enable user centric remarkets the
                                                after leveraged methodologies.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="feedback__item">
                                    <div class="feedback__inner bg-white">
                                        <div class="top">
                                            <div class="thumb">
                                                <img src="assets/img/home-1/feedback/img1.png" alt="bakul">
                                            </div>
                                            <div class="profile">
                                                <div class="name">
                                                    <h6>Douglas Pitts</h6>
                                                    <span>Manager</span>
                                                </div>
                                                <div class="star">
                                                    <ul>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <p>Rapaciously simplify enabled intellectual capital and transparent it
                                                core competencies energetically enable user centric remarkets the
                                                after leveraged methodologies.</p>
                                        </div>
                                    </div>
                                    <div class="feedback__inner bg-white">
                                        <div class="top">
                                            <div class="thumb">
                                                <img src="assets/img/home-1/feedback/img1.png" alt="bakul">
                                            </div>
                                            <div class="profile">
                                                <div class="name">
                                                    <h6>Humberto Luish</h6>
                                                    <span>Founder</span>
                                                </div>
                                                <div class="star">
                                                    <ul>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                        <li><i class="fa-solid fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <p>Rapaciously simplify enabled intellectual capital and transparent it
                                                core competencies energetically enable user centric remarkets the
                                                after leveraged methodologies.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rightbottom right-left d-lg-block d-none">
        <img src="assets/img/home-1/feedback/bottomshape.png" alt="bakul">
    </div>
    <div class="positionfeedback righttop">
        <img src="assets/img/home-1/feedback/topshape.png" alt="bakul">
    </div>
</section>
<!-- start feedback section here -->

<!-- start partner section here -->
<div class="partner overflow-hidden bg-white">
    <div class="container">
        <div class="partner__slider overflow-hidden">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="partner__iteam">
                        <div class="partner__inner">
                            <img src="assets/img/home-1/partner/img1.png" alt="bakul">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner__iteam">
                        <div class="partner__inner">
                            <img src="assets/img/home-1/partner/img2.png" alt="bakul">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner__iteam">
                        <div class="partner__inner">
                            <img src="assets/img/home-1/partner/img3.png" alt="bakul">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner__iteam">
                        <div class="partner__inner">
                            <img src="assets/img/home-1/partner/img4.png" alt="bakul">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner__iteam">
                        <div class="partner__inner">
                            <img src="assets/img/home-1/partner/img3.png" alt="bakul">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner__iteam">
                        <div class="partner__inner">
                            <img src="assets/img/home-1/partner/img2.png" alt="bakul">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end partner section here -->

<!-- start blog secton here -->
<section class="blog padding-block overflow-hidden">
    <div class="container">
        <div class="section__header blog__header">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-8 col-lg-9 col-xl-10">
                    <span>Our News Update<img src="assets/img/logo/pata.png" alt="bakul"></span>
                    <h3>Latest Blogs & Articles</h3>
                    <p>Continually productize compelling quality packed business consulting
                        Setting up to website and creating pages.</p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-2">
                    <div class="blog__btn mt-md-0 mt-4">
                        <a href="blog-single.html" class="custom-btn">View all post</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section__wrapper">
            <div class="row justify-content-center g-4">
                @for (item of listtBlog; track $index) {
                <div class="col-md-6 col-xl-4">
                    <div class="blog__item">
                        <div class="blog__inner">
                            <div class="thumb">
                                <a href="blog-single.html">
                                    @if(item.images[0]?.image){<img [src]="item.images[0]?.image" style="width: 424px;height: 315px;" 
                                        alt="bakul">}@else {
                                        <img src="assets/img/home-1/blog/img2.jpg"
                                        alt="bakul">}
                                    </a>
                            </div>
                            <div class="content bg-white">
                                <div class="text">
                                    <h6><a href="#"><i class="fa-solid fa-user"></i>{{item.user.name}}</a></h6>
                                    <ul>
                                        <li><a href="#"><i class="fa-regular fa-eye"></i>{{item.likes_count}}</a></li>
                                        <li><a href="#"><i class="fa-solid fa-message"></i>{{item.comments_count}} Comment</a></li>
                                    </ul>
                                    <p>{{item.body?.slice(0, 100)}}.</p>
                                </div>
                                <div class="blogbtn">
                                    <a href="blog-single.html" class="custom-btn">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>}
                <div class="col-md-6 col-xl-4">
                    <div class="blog__item">
                        <div class="blog__inner">
                            <div class="thumb">
                                <a href="blog-single.html"><img src="assets/img/home-1/blog/img2.jpg"
                                        alt="bakul"></a>
                            </div>
                            <div class="content bg-white">
                                <div class="text">
                                    <h6><a href="blog-single.html">The Definitive list of digital Product You Can
                                            Sell</a></h6>
                                    <ul>
                                        <li><a href="#"><i class="fa-solid fa-user"></i>Admin</a></li>
                                        <li><a href="#"><i class="fa-regular fa-eye"></i>25</a></li>
                                        <li><a href="#"><i class="fa-solid fa-message"></i>11 Comment</a></li>
                                    </ul>
                                    <p>Conveniently innovate centric benefit before progressive architectures rap
                                        manufactured products distinctively.</p>
                                </div>
                                <div class="blogbtn">
                                    <a href="blog-single.html" class="custom-btn">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="blog__item">
                        <div class="blog__inner">
                            <div class="thumb">
                                <a href="blog-single.html"><img src="assets/img/home-1/blog/img3.jpg"
                                        alt="bakul"></a>
                            </div>
                            <div class="content bg-white">
                                <div class="text">
                                    <h6><a href="blog-single.html">How To Clean Your Home Faster And More
                                            Efficiently.</a></h6>
                                    <ul>
                                        <li><a href="#"><i class="fa-solid fa-user"></i>Admin</a></li>
                                        <li><a href="#"><i class="fa-regular fa-eye"></i>25</a></li>
                                        <li><a href="#"><i class="fa-solid fa-message"></i>11 Comment</a></li>
                                    </ul>
                                    <p>Conveniently innovate centric benefit before progressive architectures rap
                                        manufactured products distinctively.</p>
                                </div>
                                <div class="blogbtn">
                                    <a href="blog-single.html" class="custom-btn">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="positionblog topshape dnone">
        <img src="assets/img/home-1/banner/shape1.png" alt="bakul">
    </div>
    <div class="bottomshape right-left d-lg-block d-none">
        <img src="assets/img/home-1/blog/bottomshape.png" alt="bakul">
    </div>
</section>
<!-- end blog secton here -->

<!-- start newslatter secton here -->
<section class="newslatter bg-white go-up">
    <div class="container">
        <div class="newslatter__bg">
            <div class="text">
                <h3>Get Latest Updates and Deals</h3>
            </div>
            <div class="newslatter__form">
                <form action="#0">
                    <input type="email" placeholder="Enter your Email">
                    <button type="submit">Subscribe Now</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- end newslatter secton here -->


