<div class="banner">
  <div class="hostbanner overflow-hidden">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
              <div class="container">
                  <div class="banner__content col-md-7 col-xl-6">
                      <h3>We Helping you To Saasfffasfth</h3>
                      <p>Continually productize compelling quality packed into business consulting com
                          productize compelling qudadsd asd as das dcked in with all growth into business pac
                          facilitate your business up to website and creating pages.</p>
                      <div class="bannerbtn">
                          <a href="about.html" class="custom-btn">Learn More</a>
                          <a href="about.html" class="custom-btn">Learn More</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="swiper-slide">
              <div class="container">
                  <div class="banner__content col-md-7 col-xl-6">
                      <h3>We Helping you To Save The Earth</h3>
                      <p>Continually productize compelling quality packed into business consulting com
                          productize compelling quality for all packed in with all growth into business pac
                          facilitate your business up to website and creating pages.</p>
                      <div class="bannerbtn">
                          <a href="about.html" class="custom-btn">Learn More</a>
                          <a href="about.html" class="custom-btn">Learn More</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="swiper-slide">
              <div class="container">
                  <div class="banner__content col-md-7 col-xl-6">
                      <h3>We Helping you To Save The Earth</h3>
                      <p>Continually productize compelling quality packed into business consulting com
                          productize compelling quality for all packed in with all growth into business pac
                          facilitate your business up to website and creating pages.</p>
                      <div class="bannerbtn">
                          <a href="about.html" class="custom-btn">Learn More</a>
                          <a href="about.html" class="custom-btn">Learn More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="position_bshape contentrightimg imghover d-md-block d-none">
      <img src="assets/img/home-1/banner/bannerightimg.png" alt="bakul">
  </div>
  <div class="position_bshape topleftimg dnone">
      <img src="assets/img/home-1/banner/shape1.png" alt="bakul">
  </div>
  <div class="position_bshape topright">
      <img src="assets/img/home-1/banner/shape5.png" alt="bakul">
  </div>
  <div class="position_bshape bottomleft d-xl-block d-none">
      <img src="assets/img/home-1/banner/shpae2.png" alt="bakul">
  </div>
  <div class="position_bshape bottommiddle d-lg-block d-none">
      <img src="assets/img/home-1/banner/shape3.png" alt="bakul">
  </div>
  <div class="position_bshape bottomright d-sm-block d-none">
      <img src="assets/img/home-1/banner/shape4.png" alt="bakul">
  </div>
  <div class="position_bshape middleshape d-lg-block d-none">
      <img src="assets/img/home-1/banner/shape6.png" alt="bakul">
  </div>
</div>